body {
        margin:0;
        padding:0;
        border:0;           /* This removes the border around the viewport in old versions of IE */
        width:100%;
        background:#e3e3e3;
        text-align:center;
}

#fixed {
   margin: 0 auto;
   max-width: 1024px;
   text-align: left;
   padding: 0 1em 0 1em;
}
    
    /* Header styles */
    #header, nav {
        clear:both;
        float:left;
        width: 100%;
    }
    
    /* column container */
    .colmask {
        position:relative;      /* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
        clear:both;
        float:left;
        width:100%;         /* width of whole page */
        overflow:hidden;    /* This chops off any overhanging divs */
    }
    /* 2 column right menu settings */
    .rightmenu .colleft {
        float:left;
        width:200%;
        margin-left:-356px;
        position:relative;
        right:100%;
    }
    .rightmenu .mainWrapper {
        float:left;
        width:50%;
        position:relative;
        left:50%;
        padding-bottom:1em;
    }
    .rightmenu .mainContent {
        margin:0 0 0 366px;
        overflow:hidden;
    }
    .rightmenu .sidebar {
        float:right;
        width: 336px;
        position:relative;
        left: 346px;
    }

/* Footer styles */
#footer {
        clear:both;
        float:left;
        width: 100%;
}

#header {
    margin: 0 0 0 0;
}

#footer {
    margin: 0 10px 0 10px;
}


/* nieuwige shizzle */

article figure a img, article figure img {
    width: 100%;
}

figure {
    margin: 0 0 0 0;
}

footer {
    width: 100%;
}

/* oude shizzle */

.home article, .archive article {
	margin-bottom: 20px;
}	

article {
	background: #fff;
}

article .singleContent {
	padding: 0 10px 10px 10px;
}

nav {
	background: #000;
	min-height: 40px;
	margin-bottom: 10px;
}

nav ul li {
	line-height: 40px;
	border-right: 1px solid #c0c0c0;
	padding: 0 10px 0 10px;
}

nav ul {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

nav ul li, nav ul li a {
	float: left;
	position: relative;
	color: #fff;
	text-decoration: none;
	line-height: 40px;
}

/* ploatjes */

img.alignleft {
	float: left;
	margin-right: 5px
}

img.alignright {
	float: right;
	margin-left: 5px
}

img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	margin-top: 5px;
}

/* labelling */

.postLabel {
	background: #000;
	float: right;
	position: relative;
	right: 0;
	top: 40px;
	margin-top: -40px;
}