body {
	font-family: sans-serif;
}

article, #footer {
	color: #454545;
}

article .singleContent {
	font-size: 16px;
}

article .singleContent p {
	line-height: 24px;
}

article .singleContent p a {
	color: #454545;
}

#header a, #header h1 a {
	color: #000;
	text-decoration: none;
} 

#footer a {
	color: #454545;
	text-decoration: none;
}

/* headings */

article h1, article h2, article h3, article h1 a, article h2 a, article h3 a {
	color: #00a513;
	text-decoration: none;
	margin: 0 0 0 0;
	font-family: 'Merriweather', serif;
    font-weight: 900;
}

article h1, article h2, article h3, article h1 a, article h2 a, article h3 a {
        /* shadow */
        text-shadow: -8px -8px 0 #000, -8px -7px 0 #000, -8px -6px 0 #000, -8px -5px 0 #000, -8px -4px 0 #000, -8px -3px 0 #000, -8px -2px 0 #000, -8px -1px 0 #000, -8px 0px 0 #000, -8px 1px 0 #000, -8px 2px 0 #000, -8px 3px 0 #000, -8px 4px 0 #000, -8px 5px 0 #000, -8px 6px 0 #000, -8px 7px 0 #000, -8px 8px 0 #000, -7px -8px 0 #000, -7px -7px 0 #000, -7px -6px 0 #000, -7px -5px 0 #000, -7px -4px 0 #000, -7px -3px 0 #000, -7px -2px 0 #000, -7px -1px 0 #000, -7px 0px 0 #000, -7px 1px 0 #000, -7px 2px 0 #000, -7px 3px 0 #000, -7px 4px 0 #000, -7px 5px 0 #000, -7px 6px 0 #000, -7px 7px 0 #000, -7px 8px 0 #000, -6px -8px 0 #000, -6px -7px 0 #000, -6px -6px 0 #000, -6px -5px 0 #000, -6px -4px 0 #000, -6px -3px 0 #000, -6px -2px 0 #000, -6px -1px 0 #000, -6px 0px 0 #000, -6px 1px 0 #000, -6px 2px 0 #000, -6px 3px 0 #000, -6px 4px 0 #000, -6px 5px 0 #000, -6px 6px 0 #000, -6px 7px 0 #000, -6px 8px 0 #000, -5px -8px 0 #000, -5px -7px 0 #000, -5px -6px 0 #000, -5px -5px 0 #000, -5px -4px 0 #000, -5px -3px 0 #000, -5px -2px 0 #000, -5px -1px 0 #000, -5px 0px 0 #000, -5px 1px 0 #000, -5px 2px 0 #000, -5px 3px 0 #000, -5px 4px 0 #000, -5px 5px 0 #000, -5px 6px 0 #000, -5px 7px 0 #000, -5px 8px 0 #000, -4px -8px 0 #000, -4px -7px 0 #000, -4px -6px 0 #000, -4px -5px 0 #000, -4px -4px 0 #000, -4px -3px 0 #000, -4px -2px 0 #000, -4px -1px 0 #000, -4px 0px 0 #000, -4px 1px 0 #000, -4px 2px 0 #000, -4px 3px 0 #000, -4px 4px 0 #000, -4px 5px 0 #000, -4px 6px 0 #000, -4px 7px 0 #000, -4px 8px 0 #000, -3px -8px 0 #000, -3px -7px 0 #000, -3px -6px 0 #000, -3px -5px 0 #000, -3px -4px 0 #000, -3px -3px 0 #000, -3px -2px 0 #000, -3px -1px 0 #000, -3px 0px 0 #000, -3px 1px 0 #000, -3px 2px 0 #000, -3px 3px 0 #000, -3px 4px 0 #000, -3px 5px 0 #000, -3px 6px 0 #000, -3px 7px 0 #000, -3px 8px 0 #000, -2px -8px 0 #000, -2px -7px 0 #000, -2px -6px 0 #000, -2px -5px 0 #000, -2px -4px 0 #000, -2px -3px 0 #000, -2px -2px 0 #000, -2px -1px 0 #000, -2px 0px 0 #000, -2px 1px 0 #000, -2px 2px 0 #000, -2px 3px 0 #000, -2px 4px 0 #000, -2px 5px 0 #000, -2px 6px 0 #000, -2px 7px 0 #000, -2px 8px 0 #000, -1px -8px 0 #000, -1px -7px 0 #000, -1px -6px 0 #000, -1px -5px 0 #000, -1px -4px 0 #000, -1px -3px 0 #000, -1px -2px 0 #000, -1px -1px 0 #000, -1px 0px 0 #000, -1px 1px 0 #000, -1px 2px 0 #000, -1px 3px 0 #000, -1px 4px 0 #000, -1px 5px 0 #000, -1px 6px 0 #000, -1px 7px 0 #000, -1px 8px 0 #000, 0px -8px 0 #000, 0px -7px 0 #000, 0px -6px 0 #000, 0px -5px 0 #000, 0px -4px 0 #000, 0px -3px 0 #000, 0px -2px 0 #000, 0px -1px 0 #000, 0px 0px 0 #000, 0px 1px 0 #000, 0px 2px 0 #000, 0px 3px 0 #000, 0px 4px 0 #000, 0px 5px 0 #000, 0px 6px 0 #000, 0px 7px 0 #000, 0px 8px 0 #000, 1px -8px 0 #000, 1px -7px 0 #000, 1px -6px 0 #000, 1px -5px 0 #000, 1px -4px 0 #000, 1px -3px 0 #000, 1px -2px 0 #000, 1px -1px 0 #000, 1px 0px 0 #000, 1px 1px 0 #000, 1px 2px 0 #000, 1px 3px 0 #000, 1px 4px 0 #000, 1px 5px 0 #000, 1px 6px 0 #000, 1px 7px 0 #000, 1px 8px 0 #000, 2px -8px 0 #000, 2px -7px 0 #000, 2px -6px 0 #000, 2px -5px 0 #000, 2px -4px 0 #000, 2px -3px 0 #000, 2px -2px 0 #000, 2px -1px 0 #000, 2px 0px 0 #000, 2px 1px 0 #000, 2px 2px 0 #000, 2px 3px 0 #000, 2px 4px 0 #000, 2px 5px 0 #000, 2px 6px 0 #000, 2px 7px 0 #000, 2px 8px 0 #000, 3px -8px 0 #000, 3px -7px 0 #000, 3px -6px 0 #000, 3px -5px 0 #000, 3px -4px 0 #000, 3px -3px 0 #000, 3px -2px 0 #000, 3px -1px 0 #000, 3px 0px 0 #000, 3px 1px 0 #000, 3px 2px 0 #000, 3px 3px 0 #000, 3px 4px 0 #000, 3px 5px 0 #000, 3px 6px 0 #000, 3px 7px 0 #000, 3px 8px 0 #000, 4px -8px 0 #000, 4px -7px 0 #000, 4px -6px 0 #000, 4px -5px 0 #000, 4px -4px 0 #000, 4px -3px 0 #000, 4px -2px 0 #000, 4px -1px 0 #000, 4px 0px 0 #000, 4px 1px 0 #000, 4px 2px 0 #000, 4px 3px 0 #000, 4px 4px 0 #000, 4px 5px 0 #000, 4px 6px 0 #000, 4px 7px 0 #000, 4px 8px 0 #000, 5px -8px 0 #000, 5px -7px 0 #000, 5px -6px 0 #000, 5px -5px 0 #000, 5px -4px 0 #000, 5px -3px 0 #000, 5px -2px 0 #000, 5px -1px 0 #000, 5px 0px 0 #000, 5px 1px 0 #000, 5px 2px 0 #000, 5px 3px 0 #000, 5px 4px 0 #000, 5px 5px 0 #000, 5px 6px 0 #000, 5px 7px 0 #000, 5px 8px 0 #000, 6px -8px 0 #000, 6px -7px 0 #000, 6px -6px 0 #000, 6px -5px 0 #000, 6px -4px 0 #000, 6px -3px 0 #000, 6px -2px 0 #000, 6px -1px 0 #000, 6px 0px 0 #000, 6px 1px 0 #000, 6px 2px 0 #000, 6px 3px 0 #000, 6px 4px 0 #000, 6px 5px 0 #000, 6px 6px 0 #000, 6px 7px 0 #000, 6px 8px 0 #000, 7px -8px 0 #000, 7px -7px 0 #000, 7px -6px 0 #000, 7px -5px 0 #000, 7px -4px 0 #000, 7px -3px 0 #000, 7px -2px 0 #000, 7px -1px 0 #000, 7px 0px 0 #000, 7px 1px 0 #000, 7px 2px 0 #000, 7px 3px 0 #000, 7px 4px 0 #000, 7px 5px 0 #000, 7px 6px 0 #000, 7px 7px 0 #000, 7px 8px 0 #000, 8px -8px 0 #000, 8px -7px 0 #000, 8px -6px 0 #000, 8px -5px 0 #000, 8px -4px 0 #000, 8px -3px 0 #000, 8px -2px 0 #000, 8px -1px 0 #000, 8px 0px 0 #000, 8px 1px 0 #000, 8px 2px 0 #000, 8px 3px 0 #000, 8px 4px 0 #000, 8px 5px 0 #000, 8px 6px 0 #000, 8px 7px 0 #000, 8px 8px 0 #000;
}        

article h1, article h1 a {
	font-size: 35px;
	padding: 20px 0 20px 0;
}

.home article h2, .home article h2 a {
	font-size: 30px;
	padding: 20px 0 20px 0;
}

article h2, article h2 a {
	font-size: 20px;
	padding: 5px 0 5px 0;
}

article h3, article h3 a {
	font-size: 18px;
	padding: 5px 0 5px 0;
	font-style: italic;
}

/* */

blockquote {
    font-style: italic;
    background: #f9f9f9;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/* footers */

article footer, article footer a {
	font-size: 15px;
	text-decoration: none;
	border-top: 2px solid #e3e3e3;
	height: 30px;
	line-height: 30px;
}

article footer .comments {
	border-left: 2px solid #e3e3e3;
}

article footer .comments, article footer .comments a {
	float: right;
	color: #454545;
	border-top: none;
	width: auto;
	padding: 0px 3px 0px 3px;
}

article footer .more, article footer .more a {
	float: right;
	color: #fff;
	background: #828282;
	border-top: none;
	width: 30px;
	text-align: center;
}

/* labelling */

.postLabel, a.postLabel {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	line-height: 40px;
	padding: 0px 7px 0px 7px;
	text-transform: uppercase;
}